<li id="entries">
   <table class="table table-hover">
    <tbody>
      <tr>
      	<td><%= comment.user.name %></td>
        <td><%= comment.content %></td>
        <td><%= comment.updated_at %></td>
      </tr>
    </tbody>
  </table>
</li>